  
<!DOCTYPE html>
<html>

<head>
    <title>Mission to Mars</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous">
</head>

<body class="text-white" style="background-color:black;">
    <div class="container">

        <!-- Scape Button -->
        <div class="scrape_button" style="background-image;">
            <h1>Mission to Mars</h1>
            <a class="btn btn-lg text-white" style="background-color:#c1440e;" href="/scrape" role="button">Scrape New Data
            </a>
        </div>

        <!-- Mars title & Paragraph -->
        <div class="mars_title">
            <h3>Latest Mars News</h3>
            <h6 style="color: #c1440e">{{ mars.news_title }}</h6>
            <p style="color: #c1440e">{{ mars.news_paragraph }}</p>
        </div>

        <!-- Featured Image-->
        <div class="Featured Image" style="background-color:black">
            <h3>Mars Featured Image</h3>
            <img src="{{ mars.featured_image }}">
        </div> 
        
        <!-- Mars Table-->
        <div class="Table" style="background-color:black">
            <h3>Mars Table</h3>
            <div style="max-width: 300px; font-size: 20px">{{ mars.mars_facts|safe}}</div>
        </div>

        <!-- Hemispshere Pictures -->
        <div class="images"style="background-color:black">
          <h1 class="text-center">Hemispheres of Mars</h1>
        {% for dict in mars.hemispheres %}
              <img class="images" id="scale_id" src="{{ dict.img_url }}">
                  <h4>{{ dict.title }}</h4>
        {% endfor %}
        </div>


    </div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>

</body>

</html>